*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
hr {
width: 30%;
margin-left: 0;


}
ul{
  padding-left: 11px;
}


.green {
  color: mediumseagreen;
  font-weight: bold;
}

.blue {
  color: royalblue;
  font-weight: bold;
}

img{
  width: 100px;
  height: 100px;
}

#linkedInIcon{
  width: 75px;
  height: 75px;
  padding-bottom: 10px;
}
